[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "bash -c 'pipenv run isort . && pipenv run black .'"
lint = "bash -c 'pipenv run format && pipenv run flake8'"
lock = "bash -c 'pipenv lock -r > ./requirements.txt && echo Package version requirements have been written to ./requirements.txt'"

[packages]
aiohttp = "*"
aiofiles = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.8"
